<!-- templates/lista_clientes.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Seu CSS personalizado -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Lista de Clientes</h1>
        <a href="{{ url_for('clientes.adiciona_cliente') }}" class="btn btn-primary mb-3">Adicionar Cliente</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Idade</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id_pessoa }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.endereco }}</td>
                        <td>{{ cliente.idade }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
