<!-- templates/lista_fornecedores.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Fornecedores</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Seu CSS personalizado -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Lista de Fornecedores</h1>
        <a href="{{ url_for('fornecedores.adiciona_fornecedor') }}" class="btn btn-primary mb-3">Adicionar Fornecedor</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Contato</th>
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                    <tr>
                        <td>{{ fornecedor.id_fornecedor }}</td>
                        <td>{{ fornecedor.nome }}</td>
                        <td>{{ fornecedor.endereco }}</td>
                        <td>{{ fornecedor.contato }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
